/*  =========== Variable ===========  */
:root{
    --primary-color: #cea46f;
    --secondary-color: #090909;
    --black: #000;
    --white: #fff;
    --info-color: #636364;
    --back-bg: #fdf2e4;
}
    

/* ===========  Fonts ===========  */
body{
    font-family: 'Roboto';
    background-color: var(--black);
}
.new-font{
    font-family: 'Rajdhani' !important;
}


/* =========== Default CSS ===========  */

html{
    scroll-behavior: smooth;
    padding: 0 !important;
}
html::-webkit-scrollbar{
    width: 0.6vw;
}
html::-webkit-scrollbar-thumb{
    background-color:  var(--primary-color);
    border-radius: 10px;
}
html::-webkit-scrollbar-track{
    background-color: #f9fafb;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
    display: block;
}
a{
    text-decoration: none !important;
}
input:focus{
    outline: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

/*  =========== Collums ===========  */
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

/* ====== container ======= */
.container{
    max-width: 1200px !important;
    margin: 0 auto;
}

/* ====== Sub-Title ======= */
.section-head {
    position: relative;
    margin: 0 auto 40px;
}

.section-head .section-subtitle {
    color: var(--primary-color);
    font-size: 12px;
    font-weight: 800;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.section-head .section-title {
    /* font-family: 'Outfit', sans-serif; */
    font-size: 48px;
    line-height: 1.2em;
    font-weight: 800;
    color: #14100c;
    color: #fff;
}

/* ============ Button - 2 ========== */
.btn {
    display: inline-block;
    height: auto;
    padding: 15px 25px;
    border: 1px solid #fff;
    border-radius: 0;
    background-color: #fff;
    -webkit-transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
    transition: border-color 400ms ease, color 400ms ease, background-color 400ms ease;
    color: #14100c;
    line-height: 20px;
    font-weight: 800;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn:hover {
    border: 1px solid #14100c;
    background-color: #14100c;
    color: #FFF;
}


/* ========= Pre - Loader ======= */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    z-index: 9999999;
  }
  
  #status {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;
  }
  


/* ======= Header ========= */
.open{
    left: 0 !important;
    transition: all 0.5s;
    background-color: var(--secondary-color);
    top: 0;
    position: fixed;
}
header{
    position: absolute;
    background-color: transparent;
    z-index: 9999;
    width: 100%;
    padding: 20px 0;
}
header .toggle-btn{
    display: none;
}
header .row{
    justify-content: space-between;
    align-items: center;
}
header .brand img{
    width: 120px;
    height: 50px;
}
header .navbar{
    justify-content: center;
}
header .navbar .menus{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}
header .navbar .menus li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
}
header .navbar .menus li a{
    position: relative;
    color: var(--white);
    font-weight: 500;
    transition: all 0.2s;
}
header .navbar .menus li a::after{
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: all 0.3s;
}
header .navbar .menus li a:hover{
    color: var(--primary-color);
    font-weight: 500;
    transition: all 0.2s;
}
header .navbar .menus li a:hover::after{
    width: 100%;
    transition: all 0.3s;
}
header .search i{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
    transition: all 0.2s;
}
header .search i:hover{
    transform: scale(1.2);
    color: var(--primary-color);
    transition: all 0.2s;
    transition: all 0.2s;
}

/* ======= banner ====== */
.banner {
    position: relative;
    height: 100%;
    background-repeat: no-repeat;
}
.banner .swiper-wrapper{
    overflow: hidden;
    width: 100%;
    height: max-content !important;
}
.banner .swiper-slide{    
    padding: 150px 0 100px;
    background-size: cover;
}
.banner .swiper-slide.one{
    background-image: url('../img/banner-1.jpg');
}
.banner .swiper-slide.two{
    background-image: url('../img/offer-bg.jpg');
}
.banner .swiper-slide.three{
    background-image: url('../img/banner-3.jpeg');
}
.banner .swiper-slide.four{
    background-image: url('../img/banner-4.jpg');
}
.banner .swiper-slide::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.8);
    z-index: -0;
}
.banner h1{
    color: var(--white);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 50px;
}
.banner p{
    color: var(--white);
    font-size: 20px;
}
.banner .data-main{
    z-index: 2;
}
.banner .image-main{
    z-index: 2;
}
.banner .swiper-pagination-fraction{
    color: var(--primary-color);
    font-size: 30px;
    text-align: left;
    padding-left: 500px;
}
.banner .btn{
    z-index: 99;
}
.banner .btn:hover{
    color: var(--white);
    background-color: var(--primary-color);
}
.banner .swiper-pagination-current{
    font-size: 70px;
}
/* ====== About ====== */
.about{
    background-image: url('../img/111.jpg');
    background-size: cover;
}
.about .abt-res{
    display: none;
}
.about .about-inner{
    padding: 100px 0 150px;
    background: #000000eb !important;
}
.about .row{
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}
.about .col-6.image{
    margin: 0 auto;
}
.about .image img{
    margin: 0 auto;
    width: 50%;
    border-radius: 30%;
}
.about h2{
    color: var(--primary-color);
    font-weight: 700;
    font-size: 50px;
}

.about p{
    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 70px;
}
.about .extra{
    display: flex;
}
.about .extra .e-data h4{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 50px;
}

.about .extra .e-data p{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}
.about .extra .extra-1{
    margin-right: 50px;
}
.about .btn:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.about .btn{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--black);
}

/* ======= services ======= */
.first-class-services {
    padding: 100px 0 0;
    position: relative;
    position: -webkit-sticky;
}

.first-class-services:before {
    top: auto;
    bottom: 0;
    height: 40%;
    background: #fff !important;
}

.first-class-services:after,
.team:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 60%;
    width: 100%;
    background: #000000;
    z-index: -1;
}

.first-class-services .square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.first-class-services .square-flip {
    min-height: 450px;
    margin-bottom: 30px;
}

.first-class-services .square,
.first-class-services .square2 {
    width: 100%;
    height: 100%;
}

.first-class-services .square {
    background-position: center center;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.first-class-services .s1{
    background-image: url('../img/barber-service-1.jpg');
    background-size: cover;
}
.first-class-services .s2{
    background-image: url('../img/barber-service-2.jpg');
    background-size: cover;
}
.first-class-services .s3{
    background-image: url('../img/barber-service-3.jpg');
    background-size: cover;
}

.first-class-services .square .category {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    writing-mode: vertical-rl;
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    text-orientation: mixed;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    /* font-family: 'Outfit', sans-serif; */
    letter-spacing: 1px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 3px;
    line-height: 1.5em;
}

.first-class-services .square .category a {
    color: #fff;
}

.first-class-services .square .category:hover {
    color: #fff;
}

.first-class-services .square h4 {
    color: #fff;
    font-size: 37px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: inline-flex;
}

.first-class-services .square-container .box-title .icon {
    color: #fff;
    font-size: 36px;
    margin-bottom: 15px;
}

.first-class-services .square h6,
.first-class-services .square h6 a {
    position: relative;
    color: #91765a;
    /* font-family: 'Outfit', sans-serif; */
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.first-class-services .square-flip .square {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
}

.first-class-services .square-flip:hover .square {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.first-class-services .square2 {
    background: var(--primary-color);
    background-size: cover;
    background-position: center center;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.first-class-services .square2.bg-white {
    background: #fff;
}

.first-class-services .square2:before {
    top: 25px;
    left: 15px;
    right: 15px;
    bottom: 25px;
}

.first-class-services .square2 h4 {
    font-size: 27px;
    color: #fff;
}

.first-class-services .square2 h6 {
    position: relative;
    color: #FFF;
    font-family: 'Outfit', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.first-class-services .square2 p {
    font-size: 15px;
    color: #FFF;
}
.first-class-services .back-title{
    color: var(--black) !important;
}
.first-class-services .square2 p i {
    font-style: normal;
}

.first-class-services .square2 .icon img {
    width: 60px;
    color: #14100c;
    margin-bottom: 15px;
}

.first-class-services .btn-line a {
    border-bottom: 1px solid #ccc;
    color: #14100c;
}

.first-class-services .btn-line a:hover {
    border-bottom: 1px solid #14100c;
    color: #14100c;
}

.first-class-services .square-flip .square2 {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 1;
}

.first-class-services .square-flip:hover .square2 {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.first-class-services .square-container {
    padding: 40px 30px;
    text-align: right;
    height: 450px;
    position: relative;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    -webkit-transform: translateX(0px) scale(1);
    -ms-transform: translateX(0px) scale(1);
    transform: translateX(0px) scale(1);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 2;
}

.first-class-services .square-container .box-title {
    width: 100%;
    text-align: center;
}

.first-class-services .square-flip:hover .square-container {
    -webkit-transform: translateX(-650px) scale(0.88);
    -ms-transform: translateX(-650px) scale(0.88);
    transform: translateX(-650px) scale(0.88);
}

.first-class-services .square-container2 {
    padding: 30px;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    -o-transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    transition: transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25), -webkit-transform 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.25);
    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 2;
}

.first-class-services .square-container2 .icon {
    font-size: 36px;
    margin-bottom: 10px;
}

.first-class-services .square-flip:hover .square-container2 {
    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
}

.first-class-services .flip-overlay {
    display: block;
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .3;
}

@media screen and (max-width: 991px) {
    .first-class-services .square-flip {
        margin-bottom: 30px;
    }

    .first-class-services {
        padding-bottom: 70px;
    }
}

/* ====== features ====== */
.features .section-subtitle{
    color: var(--black);
}
.features .section-title{
    color: var(--primary-color);
}
.features{
    padding: 100px 0;
    background-color: var(--back-bg);
}
.features h2{
    color: var(--black);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}
.features .box-main{
    padding: 15px;
}
.features .box{
    margin-bottom: 30px;
    background-color: var(--white);
    padding: 40px 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0, 0.15);
}
.features .box img{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.features .box h5{
    text-transform: capitalize;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.features .box p{
    text-transform: capitalize;
    color: var(--black);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.features .second .btn-main{
    margin-bottom: 25px;
}
.features .data p{
    border-left: 4px solid var(--primary-color);
    padding-left: 20px;
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
}
.features .data img{
    width: 85%;
    margin: 0 auto;
    margin-top: 50px;
}
.features .btn-main{
    text-align: center;
}
.features .btn{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: var(--white);
}
.features .btn:hover{
    background-color: var(--secondary-color);
    border: 1px solid var(--black);
    color: var(--white);
}

/* ===== offers ===== */
.offers{
    background-image: url('../img/offer-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.offers .main-offers{
    background-color: #000000a5;
    padding: 100px 0;
}
.offers .box{
    background-color: var(--back-bg);
    padding: 50px;
}
.offers span{
    color: var(--black);
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.offers h4{
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 700;
    margin: 10px 0;
    text-align: center;
}
.offers h4 sup{
    color: var(--secondary-color);
}
.offers .sub-offer{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.offers .sub-offer .percent{
    width: 50%;
    font-size: 25px;
    color: var(--primary-color);
    font-weight: 700;
    text-align: right;
}
.offers .sub-offer .percent p{
    padding-right: 15px;
    border-right: 2px solid var(--primary-color);
}
.offers .sub-offer .about-offer{
    width: 50%;
    font-size: 14px;
    color: var(--secondary-color-color);
    padding-left: 15px;
}
.offers .box h5{
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 30px 0;
}
.offers .box h5 span{
    color: var(--secondary-color);
    font-size: 60px;
    font-weight: 700;
    display: inline-block;
}
.offers .box .additional{
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.offers .box .btn-main{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.offers .box .btn{
    background-color: var(--black);
    border: 1px solid var(--black);
    color: #fff;
}
.offers .box .btn:hover{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #000;
}

/* ====== team ====== */
.team{
    padding: 100px 0;
}
.team .team-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--white);
}
.team .nav-tabs{
    border: 0;
    justify-content: center;
}
.team .nav-link{
    border: 0;
}
.team .nav-link.active{
    background-color: transparent;
    border: 0;
}
.team .nav-link.active .team-img{
    border: 3px solid var(--primary-color);
}
.team .main-box{
    width: 100%;
    height: 400px !important;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.team .box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border-radius: 200px 200px 0 200px;
    padding: 50px;
    background-color: #636364;
}
.team .team-img-main img{
    border-radius: 50%;
}
.team .col-8{
    padding-left: 30px;
}
.team h4{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}
.team p{
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
    text-align: left;
}
.team .signature{
    width: 30%;
}

/* ==== portfolio ===== */
.portfolio{
    padding: 100px 0;
}
.portfolio .image{
    margin-bottom: 50px;
    overflow: visible;
    position: relative;
}
.portfolio .btn-main{
    position: absolute;
    z-index: 99;
    left: 50%;
    bottom: -10%;
    transform: translate(-50%);
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.portfolio .btn{
    border-radius: 10px;
}
.portfolio .btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
}
.portfolio .image img{
    width: 100%;
    height: 350px;
}

/* ===== faq ===== */
.faq img{
    width: 70%;
    margin: 0 auto;
}
.faq .row{
  align-items: center;
}
.faq .title{
  text-align: left;
}
.faq .title span{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--white);
    font-size: 16px;
    text-align: left;
}
.faq .title p{
    font-weight: 700;
    color: var(--primary-color);
    font-size: 40px;
    text-align: left;
    margin-bottom: 50px;
}
.faq .accordion{
    background: var(--secondary-color) !important;
    background-color: var(--secondary-color) !important;
}
.faq .accordion .accordion-item{
  border: none;
  border-radius: 0;
}
.faq .accordion .accordion-button:focus{
    border-bottom: 1px solid #fff;
    box-shadow: none;
}
.faq .accordion .accordion-button{
    display: flex;
    width: 100%;
  border: none !important;
  font-size: 18px;
  background-color: transparent !important;
  border: none;
  font-weight: 700;
  align-items: center;
  color: var(--primary-color);
}
.faq .accordion .accordion-button i{
  margin-right: 15px;
  font-size: 16px;
}
.faq .accordion .accordion-button::after{
  content: "";
  display: none;
}
.faq .accordion .accordion-body p{
  font-size: 18px;
  color: var(--white);
}

/* ====== contact ===== */
.contact{
    padding: 100px 0;
}
.contact .main{
    position: relative;
    background-image: url('../img/contact.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 80%;
    padding: 200px 0;
    margin: 0 auto;
    margin-top: 200px;
}
.contact .main .box{
    position: absolute;
    top: -20%;
    left: -20%;
    background-color: var(--white);
    padding: 50px;
}
.contact .main .box h4{
    color: var(--primary-color);
    font-size: 35px !important;
    font-weight: 700;
    margin-bottom: 30px;
}
.contact .main .box p{
    font-size: 14px;
    font-weight: 500;
}
.contact .main .box h6{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
}
.contact .main .box h6 span{
    color: var(--black);
    font-weight: 400;
    font-size: 14px;
}
.contact .main .box .last{
    margin-bottom: 30px;
}
.contact .main .form-box{
    position: absolute;
    bottom: -60%;
    right: -20%;
    width: 500px;
    background-color: var(--primary-color);
    padding: 50px;
}
.contact .main .form-box form input::placeholder,.contact .main .form-box form textarea::placeholder{
    color: #ffffff8d;
}
.contact .main .form-box form input,.contact .main .form-box form textarea{
    border: none;
    background: transparent;
    padding: 10px 0;
    border-bottom: 1px solid var(--white);
    color: var(--white);
}
.contact .main .form-box form textarea{
    width: 100%;
}
.contact .main .form-box form .name,.contact .main .form-box form .surname,.contact .main .form-box form .email,.contact .main .form-box form .subject{
    width: 45%;
    margin-bottom: 20px;
}
.contact .main .form-box form .name,.contact .main .form-box form .email{
    margin-right: 10px;
}
.contact .btn-main{
    margin-top: 30px;
    width: 100%;
}
.contact .btn-main .btn{
    text-align: center;
    background-color: var(--black);
    border: 1px solid var(--black);
    color: var(--white);
    width: 100%;
}
.contact .btn-main .btn:hover{
    background-color: var(--white);
    border: 1px solid var(--white);
    color: var(--black);
}



/* ======= Footer style ======= */

.footer {
    position: relative;
    display: block;
    margin-top: 150px;
}

.footer p {
    color: #aba59f;
}

.footer-top {
    position: relative;
    display: block;
    background-color: #14100c;
    padding: 90px 0 60px 0;
    z-index: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
}

.footer-top .footer-column {
    margin-bottom: 30px;
}

.footer-title {
    font-size: 27px;
    color: #fff;
    margin-bottom: 15px;
}

.footer-about-text {
    font-size: 15px;
    color: #aba59f;
    margin: 0;
}

.footer-about-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 20px;
}

.footer-about-social-list a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    color: #91765a;
    font-size: 15px;
    background-color: transparent;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-about-social-list a + a {
    margin-left: 15px;
}

.footer-about-social-list a:hover {
    background-color: transparent;
    color: #fff;
}

.footer-explore-list li + li {
    margin-top: 3px;
}

.footer-explore-list li a {
    position: relative;
    display: block;
    font-size: 15px;
    color: #14100c;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-explore-list li a:hover {
    padding-left: 15px;
    color: #14100c;
}

.footer-explore-list li a:before {
    position: absolute;
    top: 55%;
    left: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    content: "";
    background-color: #14100c;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-explore-list li a:hover:before {
    opacity: 1;
}

.footer-contact {
    position: relative;
    display: block;
}

.footer-contact .footer-title {
    margin-bottom: 15px;
}

.footer-contact-text {
    font-size: 15px;
    margin: 0;
    color: #aba59f;
    padding-bottom: 15px;
}

.footer-contact-info p {
    margin: 0;
    color: #aba59f;
}

p.footer-contact-phone {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    color: #91765a;
    font-weight: 800;
    display: block;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-contact-phone:hover {
    color: #fff;
}

.footer-contact-mail {
    font-size: 15px;
    line-height: 3em;
    color: #aba59f;
    position: relative;
    display: inline-block;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-contact-mail:hover {
    color: #fff;
}

.footer-contact-mail:before {
    position: absolute;
    bottom: 9px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #91765a;
    content: "";
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-contact-mail:hover:before {
    background-color: #aba59f;
}


/* language */

.footer-language {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 30px;
}

.footer-language i {
    position: absolute;
    right: 30px;
    top: 17px;
    font-size: 15px;
    opacity: 0.6;
    color: rgba(255, 255, 255, 0.7);
}

.footer-language select {
    height: 52px;
    background: transparent;
    color: #aba59f;
    border: 1px solid #91765a;
    border-radius: 0px;
}

.footer-language select option {
    color: #fff;
}

select {
    width: 160px;
    max-width: 100%;
    height: 70px;
    padding: 0 30px;
    border: 1px solid #625c56;
    color: #aba59f;
}

.footer-bottom {
    position: relative;
    display: block;
    background-color: #14100c;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04);
    box-shadow: 0px -1px 0px 0px rgba(255, 255, 255, 0.04);
    padding: 32px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.04);
}

.footer-bottom-inner {
    position: relative;
    display: block;
}

.footer-bottom-copy-right {
    font-size: 12px;
    color: #aba59f;
    margin: 0;
}

.footer-bottom-copy-right a {
    color: #aba59f;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.footer-bottom-copy-right a:hover {
    color: #91765a;
}


/* subscribe */

.subscribe form {
    margin-top: 30px;
    position: relative;
}

.subscribe form input {
    width: 100%;
    padding: 16px 60px 17px 16px;
    background-color: transparent;
    border: 1px solid #91765a;
    border-radius: 0px;
    color: #aba59f;
    margin-bottom: 15px;
    outline: none;
}

.subscribe form input::placeholder {
    color: #aba59f;
}

.subscribe form button {
    background-color: #91765a;
    padding: 14px 20px;
    border-radius: 0px;
    color: #fff;
    border: 0;
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    outline: none;
}

.subscribe form button:hover {
    background-color: #fff;
    color: #14100c;
    outline: none;
}


/* footer list */

.footer .item ul {
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

.footer .item ul li .tit,
.footer .item ul li .dots,
.footer .item ul li span {
    display: table-cell;
    white-space: nowrap;
}

.footer .item ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

.footer .item ul li:last-of-type {
    margin-bottom: 0;
}

.footer .item ul li span {
    white-space: nowrap;
    padding-left: 10px;
    font-family: 'Outfit', sans-serif;
    color: #aba59f;
}

.footer .item ul li .tit {
    padding-right: 10px;
    color: #aba59f;
}

.footer .item ul li .dots {
    height: 4px;
    width: 100%;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    position: relative;
    top: -7px;
}
